<h1>Indsend din begivenhed!</h1>
<div>
  <%= form_for @event do |f| %>
    <h3>Lidt om dig</h3>
    <p>Navn</p>
    <%= f.text_field :contact_name, required: true %> <br>
    <p>Email</p>
    <%= f.text_field :contact_email, required: true%> <br>
    <p>Telefon nummer</p>
    <%= f.text_field :contact_number, required: true %> <br>

    <h3>Skriv her lidt om din begivenhed</h3>
    <br>
    <%= f.submit "Tilmeld!" %>
  <% end %>
  <br>
  <%= link_to "Tilbage", root_path %>
</div>
